html {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.cursor {
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  background-color: red;
  width: 20px;
  height: 20px;
  z-index: 1000;
  border-radius: 50%;
  filter: blur(7px);
}

body {
  background-color: rgb(31, 31, 31);
  font-family: "Urbanist", sans-serif;
  min-height: 100vh;
}

.special-span {
  margin-bottom: 0.625rem;
  color: #a3111c;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
}

nav {
  background: rgba(25, 25, 25, 0.4);
  font-weight: 500;
}
nav .nav-link-style {
  color: rgb(223, 223, 223) !important;
  padding: 0.8rem 1.2rem !important;
  letter-spacing: 1px;
}
nav .nav-link-style:hover {
  background-color: #8a0e19;
  color: white !important;
}
nav .navbar-toggler {
  border-color: #790c15;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
nav .bars {
  color: white;
}

.hero {
  padding: 2.5rem 0;
}
.hero .main_sentence h2 {
  color: #a3111c;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.5rem;
}
.hero .main_sentence .front {
  color: white;
  font-size: 3.125rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.hero .main_sentence .welcome {
  color: white;
  background: linear-gradient(150deg, #a3111c, #d31f2b);
  padding: 0.313rem;
  font-size: 1.125rem;
  letter-spacing: 1.3px;
  display: inline-block;
  margin-bottom: 0.625rem;
  border-radius: 3px;
}
.hero .main_sentence p {
  color: rgb(223, 223, 223);
  padding-right: 9rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  letter-spacing: 0.5px;
}
.hero .main_sentence button {
  font-weight: 600;
  color: white;
  font-size: 1.125rem;
  border: none;
  letter-spacing: 1.5px;
  padding: 0.625rem 1.25rem;
  background: linear-gradient(150deg, #a3111c, #d31f2b);
  border-radius: 3px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.hero .main_sentence button:hover {
  transform: scale(1.03);
}
.hero .img img {
  animation: changePosition 1s infinite ease alternate;
}

.about .about_text {
  text-align: center;
}
.about .about_text h3 {
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
  margin: 1.25rem 0;
}
.about .about_text h3 span {
  color: #a3111c;
  display: inline-block;
  animation: changePosition 1s infinite ease alternate;
}
.about .about_text p {
  color: rgb(223, 223, 223);
  line-height: 1.5;
  padding: 0 1rem;
}
.about .skills {
  padding-top: 4.375rem;
}
.about .skills .skill-item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.about .skills .skill-item .skill-name {
  letter-spacing: 1px;
  flex-basis: 9.375rem;
  color: white;
  font-size: 1.3rem;
}
.about .skills .skill-item .circles span {
  transition: 0.4s;
  display: inline-block;
  border-radius: 50%;
  margin-right: 5px;
  width: 0.938rem;
  height: 0.938rem;
  background: rgba(163, 17, 28, 0.2);
}
.about .counters {
  padding-top: 4.375rem;
}
.about .counters .counter-item {
  transition: 0.5s;
  padding: 2rem 0.2rem;
  border: 1px solid transparent;
  color: white;
  letter-spacing: 1px;
}
.about .counters .counter-item h2 {
  color: #d31f2b;
  font-weight: 800;
  font-size: 3.75rem;
}
.about .counters .counter-item h3 {
  color: white;
  font-weight: 600;
}

.services {
  padding: 5rem 0 3.75rem;
}
.services .special-span {
  margin-bottom: 1.25rem;
}
.services .item_red {
  background: linear-gradient(150deg, rgb(117, 12, 12), #d31f2b);
}
.services .item {
  border-radius: 4px;
  background-color: rgb(44, 44, 44);
  padding: 2.3rem 2rem;
  min-height: 17.375rem;
}
.services .item:hover .bg-ico {
  transform: rotate(-20deg);
}
.services .item .bg-ico {
  color: white;
  margin-bottom: 1.875rem;
  font-size: 3.75rem;
  transition: all 0.4s ease;
}
.services .item h2 {
  color: white;
  font-size: 1.563rem;
  letter-spacing: 1px;
  margin-bottom: 1.25rem;
  font-weight: 600;
}
.services .item p {
  line-height: 1.5;
  color: rgb(223, 223, 223);
}

.my-work {
  padding-top: 3.125rem;
}
.my-work .project {
  opacity: 0;
  transition: all 0.6s;
  position: relative;
  overflow: hidden;
}
.my-work .project img {
  transition: all 0.4s;
}
.my-work .project .overlay {
  color: #a3111c;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.375rem;
  transition: opacity 0.3s;
  opacity: 0;
}
.my-work .project:hover img {
  transform: scale(1.1);
}
.my-work .project:hover .overlay {
  opacity: 1;
}

.contact {
  overflow: hidden;
  padding: 5rem 0;
}
.contact .special-head {
  color: white;
  font-size: 4.375rem;
  text-align: center;
  background-color: #252525;
  padding: 0.625rem;
  width: 41.25rem;
  font-weight: bold;
  margin-bottom: 1.875rem;
}
.contact .contact-item a {
  border: 1px solid rgb(77, 77, 77);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 4.688rem -1.25rem black;
  padding: 1.875rem 0.938rem;
}
.contact .contact-item a:hover p, .contact .contact-item a:hover div {
  color: #d31f2b;
}
.contact .contact-item a div {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  transition: 0.2s;
}
.contact .contact-item a p {
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
  transition: 0.2s;
}

footer {
  background-color: rgb(25, 25, 25);
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .reg {
  color: white;
}
footer .reg p {
  text-align: center;
}
footer .reg .name {
  font-size: 1.25rem;
  color: #d31f2b;
  letter-spacing: 1px;
  text-shadow: 0 0 0.375rem #d31f2b;
}

.hero,
.services,
.resume,
.my-work,
.contact {
  background-image: url("images/wallpapersden.com_topography-abstract-black-texture_2880x1800.jpg");
  mix-blend-mode: lighten;
}

.linkedin,
.instagram,
.facebook {
  transform: translateX(1000px);
  transition: all 1s;
}

.email,
.phone,
.github {
  transform: translateX(-1000px);
  transition: all 1s;
}

@keyframes changePosition {
  from {
    transform: translateY(5px);
  }
  to {
    transform: translateY(-5px);
  }
}
@media (max-width: 767px) {
  main .main_sentence {
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
    text-align: center;
  }
  main .main_sentence .front {
    font-size: 1.875rem !important;
  }
  main .main_sentence p {
    padding-right: 0 !important;
  }
  .services .item,
  .services .item_red {
    text-align: center;
  }
  .contact .special-head {
    font-size: 2.5rem;
  }
  .about .skills .skill-item .circles span {
    width: 0.625rem;
    height: 0.625rem;
    margin-right: 2px;
  }
  .about .skills .skill-item .skill-name {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */